<ng-container *ngIf="products.length != 0">
  <div class="container">
    <div class="card-table mt-3">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>#ID</th>
              <th>Product Title</th>
              <th>Product İmage</th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products; let i = index">
              <td>{{ i }}</td>
              <td>{{ product.title }}</td>
              <td>
                <img
                  src="{{ product.imgUrls[0] }}"
                  alt=""
                  style="width: 120px"
                />
              </td>
              <td>{{ product.desc }}</td>
              <td>{{ product.price }}</td>
              <td>
                <input
                  type="number"
                  class="qty"
                  min="1"
                  [value]="product.qty"
                  (blur)="validateInput($event, i)"
                />
              </td>
              <td>{{ product.price * product.qty }}</td>
              <td class="d-flex">
                <button
                  type="button"
                  class="btn btn-danger m-1"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteModal"
                  (click)="showModal = true"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
                <div
                  class="modal fade"
                  id="deleteModal"
                  tabindex="-1"
                  aria-labelledby="deleteModalLabel"
                  aria-hidden="true"
                  [ngClass]="{ show: showModal }"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                          Delete Item
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Cancel"
                          (click)="showModal = false"
                        ></button>
                      </div>
                      <div class="modal-body">
                        Do you want to remove the product from the cart?
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-dark"
                          data-bs-dismiss="modal"
                          (click)="showModal = false"
                        >
                          Close
                        </button>
                        <button
                          type="button"
                          (click)="removeItem(i)"
                          class="btn btn-danger"
                        >
                          Ok
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="p-3 d-flex justify-content-end mb-5">
          <button class="btn btn-danger m-1" (click)="removeAll()">
            Delete All
          </button>

          <button class="btn btn-dark m-1" routerLink="/products">
            Shop More
          </button>
          <button
            class="btn btn-success m-1"
            (click)="gotoCheckout()"
            [disabled]="!user"
          >
            Checkout
          </button>
          <strong class="text-center p-3">Grand Total: ${{ total }}</strong>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="products.length < 1">
  <div class="container">
    <div class="card">
      <h4 class="card-title">My Cart</h4>
    </div>
    <div class="card-center">
      <img src="../../../assets/img/cart-logo.jfif" alt="" />
      <h3 class="card-center-text">Your cart is empty!</h3>
      <h5>Add item to it now</h5>
      <button class="btn btn-dark mt-2" routerLink="/products">Shop Now</button>
    </div>
  </div>
</ng-container>
