<div class="container">
  <div class="row">
    <div class="col text-center mt-5">
      <div class="card mt-5">
        <h2 class="card-header bg-dark text-white">THANK YOU FOR ORDER</h2>
        <div class="card-body">
          <h5 class="card-title">Please check your email!..</h5>
          <p class="card-text">
            Your order details have been sent to your email address.
          </p>
          <a href="#" class="btn btn-dark" routerLink="/products">Shop More</a>
        </div>
      </div>
    </div>
  </div>
</div>
