.cart-icon {
  font-size: 1.3rem;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

.qty {
  position: absolute;
  right: 50px;
  top: 35px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  background-color: #d10024;
}

.logo {
  width: 40px;
  background-color: #fff;
  border-radius: 20%;
}
