.card-width-height {
  width: 18rem;
  height: 35rem;
}

.cursor {
  cursor: pointer;
}

.formInput {
  width: 50%;
  margin: 0 auto;
}

img:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
