<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-2">
      <div class="images" *ngFor="let image of product.imgUrls; let i = index">
        <img
          [src]="image"
          alt=""
          (mouseenter)="displayedImage = i"
          style="width: 350%"
        />
      </div>
    </div>
    <div class="col-sm-12 col-md-5">
      <img [src]="product.imgUrls[displayedImage]" alt="" width="500px;" />
    </div>
    <div class="col-sm-12 col-md-5">
      <div class="row">
        <h2 class="text-center">{{ product.title | titlecase }}</h2>
      </div>
      <div class="row">
        <h3>
          <i class="fas fa-dollar-sign"></i>{{ product.price }}
          <strong class="text-success">30% off</strong>
        </h3>
      </div>
      <div class="row">
        <p class="card-text">
          {{ product.desc }}
        </p>
      </div>
      <div class="row">
        <h3 class="text-warning">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-half-alt" aria-hidden="true"></i>
        </h3>
        <span class="mb-3">1200 star rating and 250 reviews</span>
      </div>
      <div class="row">
        <p>
          <i class="text-success fa fa-check-square" aria-hidden="true"></i>
          <strong>Bank Offer</strong> 20% Instant Discount on Credi Cards
        </p>
        <p>
          <i class="text-success fa fa-check-square" aria-hidden="true"></i>
          <strong>Bank Offer</strong> 10% Instant Discount on Master Card
        </p>
        <p>
          <i class="text-success fa fa-check-square" aria-hidden="true"></i>
          <strong>Bank Offer</strong> 15% Instant Discount on Bank Card
        </p>
      </div>
      <div class="row mt-4">
        <div class="d-flex">
          <strong class="text-info">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </strong>
          &nbsp;
          <strong
            >Delivery by 30 Dec, Thursday |
            <span class="text-danger">Free</span>
          </strong>
        </div>
      </div>
      <div class="row mt-5">
        <a class="btn btn-info" (click)="addToCart(product)">Add to Card</a>
      </div>
    </div>
  </div>
</div>
